// modern-normalize

@import '~node_modules/modern-normalize/modern-normalize.css';

// body

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;

  box-sizing: border-box;
}

body.modal-open {
  overflow: hidden;
}
body.menu-open {
  overflow: hidden;
}

// Anchors

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
}
