:root {
  // color

  --current-color: currentColor;

  --primaryColor: #000000;
  --secondaryColor: #ffffff;
  --thirdColor: #ff6b08;
  --fourthColor: #f7f7f7;

  --activeColor: #ff001b;

  --footerText: #545454;

  --inactiveUser: #721b24;
  --activeUser: #ff001b;
}
