:root {
  --heder-btn-bg:rgba(0, 0, 0, 0.56);
  --body-bg-color:#E5E5E5;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --third-text-color: #FF6B08;

  --modal-text-color:#8C8C8C;
  --active-btn-color: #FF6B01;

  --heder-btn-bg:rgba(0, 0, 0, 0.56);

  --mobile-btn-border: 1px solid #000000;
  --heder-btn-border: border: 1px solid #FFFFFF;


  --footer-text-color: #545454;
  --bg-footer: #F7F7F7;

  --transition-time: 0.3s;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
