<footer class="footer">
    <div class="container">
        <ul class="footer__list">
            <li class="footer__list__item">	&#169  2023 | All Rights Reserved | </li>
            <li class="footer__list__item"><button type="button" class="footer__btn-team" data-team-close>
                <p>Developed with<svg class="footer__heart" width="14" height="13">
                    <use href="./images/svg/sprite.svg#heart"></use>
                  </svg>by GoIT Students</p>
            </button></li>
        </ul>        
       </div>
    </div>
</footer>

