<header class="header">
  <div class="container">
    <div class="header__menu">
      <nav class="header__navigation navigation">
        <a class="navigation__logo logo" href="./index.html">
          <svg class="logo__icon" width="24" height="24">
            <use href="./images/svg/sprite.svg#film"></use>
          </svg>
          <span class="logo__text">Filmoteka</span>
        </a>

        <ul class="navigation__list">
          <li class="navigation__item navigation__item--active">
            <a class="navigation__link" href="#">Home</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="./library.html">My library</a>
          </li>
        </ul>
      </nav>

      <div class="login">
        <button class="login__button" type="button" data-loginButton>
          <svg class="login__icon" width="30" height="30">
            <use href="./images/svg/sprite.svg#user"></use>
          </svg>
        </button>
        <span class="login__user-name">User Name</span>
      </div>
    </div>

    <!-- Search form -->
    <form class="header__form form">
      <input
        class="form__input input"
        type="text"
        name="searchQuery"
        placeholder="Movie search"
      />
      <button class="form__button" type="button">
        <svg width="12" height="12">
          <use href="./images/svg/sprite.svg#search"></use>
        </svg>
      </button>
    </form>
    <div id="errorMessage" class="header__error-message visually-hidden1">
      Search result not successful. Enter the correct movie name and
    </div>
  </div>
</header>
