<header class="header header__library">
  <div class="container">
    <div class="header__menu">
      <nav class="header__navigation navigation">
        <a class="navigation__logo logo" href="./index.html">
          <svg class="logo__icon" width="24" height="24">
            <use href="./images/svg/sprite.svg#film"></use>
          </svg>
          <span class="logo__text">Filmoteka</span>
        </a>

        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="./index.html">Home</a>
          </li>
          <li class="navigation__item">
            <a
              class="navigation__link navigation__link--active"
              href="./library.html"
              >My library</a
            >
          </li>
        </ul>
      </nav>
      <div class="login login--is-logined">
        <button class="login__button" type="button" data-loginButton>
          <svg class="login__icon" width="30" height="30">
            <use href="./images/svg/sprite.svg#user"></use>
          </svg>
        </button>
        <span class="login__user-name">User Name</span>
      </div>
    </div>
    <div class="library-header__btns-and-theme">
      <ul class="library-header__buttons">
        <li class="header__user-item">
          <button class="library-header__button watched" type="button">
            Watched
          </button>
        </li>
        <li class="header__user-item">
          <button class="library-header__button queue" type="button">
            Queue
          </button>
        </li>
      </ul>
      <div class="library-header__theme">
        <input type="checkbox" class="checkbox" id="checkbox" />
        <label for="checkbox" class="label">
          <svg class="icon-sun" width="20" height="20">
            <use href="/src/images/darkTheme.svg#icon-sun"></use>
          </svg>
          <svg class="icon-moon" width="20" height="20">
            <use href="/src/images/darkTheme.svg#icon-moon"></use>
          </svg>
          <span class="ball"></span>
        </label>
      </div>
    </div>
  </div>
</header>
