<header class="header library-background">
  <div class="header__container">
    <a class="header__logo" href="../index.html">
      <svg class="header__logo-icon">
        <use></use>
      </svg>
      <span class="header__logo-name">Filmoteka</span>
    </a>

    <nav class="header__navigation">
      <ul class="header__navigation-list">
        <li class="header__navigation-item">
          <a class="header__navigation-link" href="../index.html">Home</a>
        </li>
        <li class="header__navigation-item">
          <a class="header__navigation-link current" href="">My library</a>
        </li>
      </ul>
    </nav>

    <ul class="header__user-list">
      <li class="header__user-item">
        <button class="header__user-button watched" type="button">
          Watched
        </button>
      </li>
      <li class="header__user-item">
        <button class="header__user-button queue" type="button">Queue</button>
      </li>
    </ul>
  </div>
</header>
