<div class="loader">
  <div class="loader__block">
    <svg class="loader__icon">
      <use href="./images/sprite-filmoteka.svg#icon-logo"></use>
    </svg>
  </div>
  <div class="loader__block">
    <svg class="loader__icon">
      <use href="./images/sprite-filmoteka.svg#icon-logo"></use>
    </svg>
  </div>
  <div class="loader__block">
    <svg class="loader__icon">
      <use href="./images/sprite-filmoteka.svg#icon-logo"></use>
    </svg>
  </div>
  <div class="loader__block">
    <svg class="loader__icon">
      <use href="./images/sprite-filmoteka.svg#icon-logo"></use>
    </svg>
  </div>
  <div class="loader__block">
    <svg class="loader__icon">
      <use href="./images/sprite-filmoteka.svg#icon-logo"></use>
    </svg>
  </div>
</div>
