<div class="backdrop__team is-hidden" data-modal >
    
	<div class="container modal__team ">
            <button class="modal__close modal__close-btn" type="button" data-modal-close >
                <svg class="modal__close-icon" width="26" height="26">
                    <use href="./images/sprite-filmoteka.svg#icon-close"></use>
                </svg>
            </button>

            <section class="team">

                    <h2 class="team__title">Our team</h2>

                    <ul class="team__list">

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/our-team/photo-an.jpeg" alt="" />
                                </picture>
                            </div>
                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko</h3>
                                <p class="team__job-title">Team Lead</p>
                                <p class="team__work">Code review, made up the  "Footer" section.</p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="22" height="22">
                                                <use href="./images/svg/social-link.svg#email2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#git"></use>
                                            </svg>                                            
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                          <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#linkedin2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#facebook1"></use>
                                            </svg> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/our-team/photo-av.jpeg" alt="" />
                                </picture>
                            </div>
                            <div class="team__box">
                                <h3 class="team__name">Alla Voitiuk</h3>
                                <p class="team__job-title">Scrum Master</p>
                                <p class="team__work">Work with local storage and helped in fixing all sorts of bugs.</p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="22" height="22">
                                                <use href="./images/svg/social-link.svg#email2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#git"></use>
                                            </svg>                                            
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                          <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#linkedin2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#facebook1"></use>
                                            </svg> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/our-team/photo-dt.jpeg" alt="" />
                                </picture>
                            </div>
                            <div class="team__box">
                                <h3 class="team__name">Dmitriy Tyukh</h3>
                                <p class="team__job-title">Developer</p>
                                <p class="team__work">Work with HTTP requests, scrollTop  and fixing bugs.</p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="22" height="22">
                                                <use href="./images/svg/social-link.svg#email2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#git"></use>
                                            </svg>                                            
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                          <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#linkedin2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#facebook1"></use>
                                            </svg> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/our-team/photo-al.jpeg" alt="" />
                                </picture>
                            </div>
                            <div class="team__box">
                                <h3 class="team__name">Oleksii Lisovyi</h3>
                                <p class="team__job-title">Developer</p>
                                <p class="team__work">Made up the "Header" section, Search, FareBase, Pagination</p>
                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="22" height="22">
                                                <use href="./images/svg/social-link.svg#email2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#git"></use>
                                            </svg>                                            
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                          <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#linkedin2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#facebook1"></use>
                                            </svg> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/our-team/photo-im.jpeg" alt="" />
                                </picture>
                            </div>
                            <div class="team__box">
                                <h3 class="team__name">Iryna Mishyna</h3>
                                <p class="team__job-title">Developer</p>
                                <p class="team__work">Development of modal window with info about films.</p>
                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="22" height="22">
                                                <use href="./images/svg/social-link.svg#email2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#git"></use>
                                            </svg>                                            
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                          <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#linkedin2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#facebook1"></use>
                                            </svg> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/our-team/photo-mb.jpeg" alt="" />
                                </picture>
                            </div>
                            <div class="team__box">
                                <h3 class="team__name">Marina Belousova</h3>
                                <p class="team__job-title">Developer</p>
                                <p class="team__work">Gallery layout and development of card render.</p>
                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="22" height="22">
                                                <use href="./images/svg/social-link.svg#email2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#git"></use>
                                            </svg>                                            
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                          <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#linkedin2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#facebook1"></use>
                                            </svg> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/our-team/photo-vp.jpeg" alt="" />
                                </picture>
                            </div>
                            <div class="team__box">
                                <h3 class="team__name">Volodymyr Peretiatko</h3>
                                <p class="team__job-title">Developer</p>
                                <p class="team__work">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="22" height="22">
                                                <use href="./images/svg/social-link.svg#email2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#git"></use>
                                            </svg>                                            
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                          <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#linkedin2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#facebook1"></use>
                                            </svg> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/our-team/photo-ms.jpeg" alt="" />
                                </picture>
                            </div>
                            <div class="team__box">
                                <h3 class="team__name">Maxym Stetsenko</h3>
                                <p class="team__job-title">Developer</p>
                                <p class="team__work">Made up the "Library header" section.</p>
                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="22" height="22">
                                                <use href="./images/svg/social-link.svg#email2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#git"></use>
                                            </svg>                                            
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                          <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#linkedin2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#facebook1"></use>
                                            </svg> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/our-team/photo_iv.jpeg" alt="" />
                                </picture>
                            </div>
                            <div class="team__box">
                                <h3 class="team__name">Iliev Vlad</h3>
                                <p class="team__job-title">Developer</p>
                                <p class="team__work">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="22" height="22">
                                                <use href="./images/svg/social-link.svg#email2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#git"></use>
                                            </svg>                                            
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                          <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#linkedin2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#facebook1"></use>
                                            </svg> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/our-team/photo-sc.jpeg" alt="" />
                                </picture>
                            </div>
                            <div class="team__box">
                                <h3 class="team__name">Serhii Chuhunov</h3>
                                <p class="team__job-title">Developer</p>
                                <p class="team__work">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="22" height="22">
                                                <use href="./images/svg/social-link.svg#email2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#git"></use>
                                            </svg>                                            
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                          <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#linkedin2"></use>
                                            </svg> 
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/social-link.svg#facebook1"></use>
                                            </svg> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
               
            </section>
        
    </div>

 </div>