<div data-modal class="backdrop__team .is-hidden-modal">
    
	<div class="container modal__team">
            <button data-modal-close class="modal__close" type="button">
                <svg class="modal__close-icon" width="26" height="26">
                    <use href="./images/sprite-filmoteka.svg#icon-close"></use>
                </svg>
            </button>

            <!-- ===== START ====  -->

        <!-- <div class="content-card__info"> -->

            <section class="team">

                    <h2 class="team__title">Our team</h2>

                    <ul class="team__list">

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/team1-mob.jpg" alt="" />
                                </picture>
                            </div>
                            

                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko 2</h3>
                                <p class="team__skills">Team Lead
                                    email@email.com</p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/svg/git.svg"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/team1-mob.jpg" alt="" />
                                </picture>
                            </div>
                            

                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko 1</h3>
                                <p class="team__skills">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/team1-mob.jpg" alt="" />
                                </picture>
                            </div>
                            

                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko 3</h3>
                                <p class="team__skills">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/team1-mob.jpg" alt="" />
                                </picture>
                            </div>
                            

                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko 3</h3>
                                <p class="team__skills">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/team1-mob.jpg" alt="" />
                                </picture>
                            </div>
                            

                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko 5</h3>
                                <p class="team__skills">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/team1-mob.jpg" alt="" />
                                </picture>
                            </div>
                            

                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko 3</h3>
                                <p class="team__skills">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/team1-mob.jpg" alt="" />
                                </picture>
                            </div>
                            

                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko 3</h3>
                                <p class="team__skills">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/team1-mob.jpg" alt="" />
                                </picture>
                            </div>
                            

                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko 8</h3>
                                <p class="team__skills">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/team1-mob.jpg" alt="" />
                                </picture>
                            </div>

                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko 9</h3>
                                <p class="team__skills">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="team__item">
                            <div class="project__card-thumb">
                                <picture>
                                    <img src="./images/team1-mob.jpg" alt="" />
                                </picture>
                            </div>
                            

                            <div class="team__box">
                                <h3 class="team__name">Anton Palienko 10</h3>
                                <p class="team__skills">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>

                                <ul class="social-list">
                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#instagram"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#twitter"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#facebook"></use>
                                            </svg>
                                        </a>
                                    </li>

                                    <li class="social-list__item">
                                        <a href="" class="social-list__link">
                                            <svg class="social-list__icon" width="20" height="20">
                                                <use href="./images/sprite.svg#linkedin"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                    </ul>
               
                <!-- </li> -->
                <!-- </ul> -->
            </section>
        <!-- </div> -->
        
    </div>

         <!-- ==== END =====  -->

 </div>
