

<div data-modal class="backdrop ">
	<div class="modal">
		<button data-modal-close class="modal__close" type="button">
			<svg class="modal__close-icon" width="26" height="26">
				<use href="./images/sprite-filmoteka.svg#icon-close"></use>
			</svg>
		</button>
		<div class="modal__content content-card">
			<div class="content-card__img">
				<img src="https://image.tmdb.org/t/p/w500/pFlaoHTZeyNkG83vxsAJiGzfSsa.jpg" width="375" height="478" alt="Movie">
			</div>
			<div class="content-card__info">
				<h3 class="content-card__title">Заголовок</h3>
        <table class='modal__movie-info'>
          <tr>
            <th>Vote / Votes</th>
            <td class='modal__movie-votes'><span class="modal__movie-bord">7.3</span> / <span class='modal__movie-number'>1260</span></td>
          </tr>
          <tr>
            <th>Popularity</th>
            <td class='modal__movie-popularity'>100.2</td>
          </tr>
          <tr>
            <th>Original Title</th>
            <td class='modal__movie-original'>A FISTFUL OF LEAD</td>
          </tr>
          <tr>
            <th>Genre</th>
            <td class='modal__movie-genres'>Western</td>
          </tr>
        </table>
				<b class="content-card__about">About</b>
				<p class="content-card__about-text">Тут может быть ваша реклама
        </p>
				<ul class="content-card__btn-group">
					<li>
						<button class="content-card__btn watched-btn" type="button">add to Watched</button>
					</li>
					<li>
						<button class="content-card__btn queue-btn" type="button">add to queue</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>