.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 20px;
    // justify-content: space-between;
    justify-content: center;
    // align-items: center;

        @include tablet() {
                gap: 30px;   
            }

         @include desktop() {
               gap: 16px;  
                         }
    
}

.card {
    display: flex;
        flex-direction: column;
    // flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;

    margin: 0;
    padding: 0;
    min-width: 280px;
    min-height: 440px; 
    @include tablet() {
            // gap: 30px;
            // width: 395px;
            flex-basis: calc((100% - 30px)/2);
        }
    
        @include desktop() {
            // gap: 16px;
    // width: 395px;
            flex-basis: calc((100% - 32px)/3);
    
        }
   
}
.card__poster {
    margin: 0;
    box-sizing: border-box;
        // min-width: 280px;
        width: 100%;
        height: 100%;
        // height: 402px;
        border-radius: 5px;
//  @include tablet() {
//         width: 336px;
//         height: 455px;
//         }
//                 @include desktop() {
// // max-width: 100;
//     max-height: 455px;
                        
//                 }
}

.card__info {
      
    
    justify-content: flex-start; 
    // flex-grow: 1;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.33;
    @include desktop() {
            
            font-size: 20px;
            line-height: 1.2;
        }
   
}

.info__title {
//     display: flex; 
    margin-bottom: 5px;
    justify-content: flex-start;
    // flex-wrap: wrap;
    flex-grow: 1;
       
   
    text-transform: uppercase;
      color: var(--primary-text-color);
}

.info__genre, .info__release-date, .info__span {
margin-top: 10px;
    // line-height: 1.33;
    color: var(--third-text-color);

}
