$color: #ff6b08;

@mixin anim($i) {
  $y: ($i + 5) * 10;

  @keyframes right-#{$i} {
    0% {
      transform: translateY(#{-$y}px);
    }
    100% {
      transform: translateY(#{$y}px);
    }
  }
}

.loader {
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  // height: 100vh;
  // overflow: hidden;
}

.loader__block {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 15px;
  border-radius: 20%;
  list-style-type: none;
  transition: 0.5s all ease;
}

@for $i from 1 through 5 {
  .loader__block:nth-child(#{$i}) {
    @include anim($i);
    animation: right-#{$i} 1s infinite alternate;
    background-color: $color;
    animation-delay: 100ms * $i;
  }
}

.loader__icon {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  fill: #ffffff;
}
