@import "btnModal";


.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	padding: 46px 20px;
	background-color: #fff;
	transition: transform 0.3s ease;

  overflow: auto;
  height: 100%;
  width: 280px;

  margin-top: 20px;

  @media screen  and (min-width: 768px){
    width: 704px;
    height: 552px;
    margin-top: 80px;
  }

  @media screen  and (min-width: 1024px){
    width: 806px;
    height: 558px;
    margin-top: 0;
  }

	@include tablet {
		padding: 40px;
	}
	@media screen and (min-width: 1024px) {
		padding: 40px 12px;
	}

	&__close {
		height: 26px;
		position: absolute;
		top: 8px;
		right: 8px;
	}

	&__close-icon {
	}

	&__content {
		overflow: auto;
		display: grid;
		gap: 16px;

		@include tablet {
			grid-template-columns: 241px 1fr;
			gap: 65px;
		}
		@media screen and (min-width: 1024px) {
			grid-template-columns: 341px 1fr;
			gap: 16px;
		}
	}
}

.content-card {
	&__img {
		max-width: 100%;
  }

	&__movie {
    border-radius: 5px;

    @media  (min-width: 768px) and (max-width: 1023px) {
      width: 264px;
      height: 374px;
    }

    @media screen and (min-width: 1024px) {
      width: 375px;
      height: 478px
    }

	}

	&__title {
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 20px;
    font-weight: 500;


		@media screen and (min-width: 1024px) {
			font-size: 30px;
		}
	}

	&__characteristics {
		margin-bottom: 20px;
		li {
			display: flex;
			column-gap: 50px;
			font-size: 12px;

			&:not(:last-child) {
				margin-bottom: 8px;
			}

			@media screen and (min-width: 1024px) {
				column-gap: 80px;
			}
		}
	}

	&__category {
		color: var(--modal-text-color);
		width: 70px;
		white-space: nowrap;
	}

	&__meaning {
		white-space: nowrap;
		span {
			display: inline-block;
			text-align: center;
			width: 36px;
			border-radius: 5px;

			&:first-child {
				background-color: var(--active-btn-color);
				color: var(--secondary-text-color);
			}
			&:last-child {
				background-color: var(--pagination-btn-control);
			}
		}
	}

	&__about {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 8px;
    font-weight: 500;
    line-height: 1.33;
	}

	&__about-text {
		font-size: 12px;
		line-height: 1.67;
		letter-spacing: 0;

		@media screen and (min-width: 1024px) {
			width: 390px;
		}
	}

}

.backdrop {
	position: fixed;
  display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 0.3s ease, visibility 0.3s ease;

  overflow: hidden;

  //padding-right: 20px;


}
.is-hidden-modal {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.3);
}

.modal__movie-info {
  margin-bottom: 20px;

  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.modal__movie-info tr th {
  text-align: left;
  width: 50%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0;
  color: var(--inactiveUser);
}

.modal__movie-info tr td {
  text-align: left;
  width: 50%;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0;
  color:var( --mobile-btn-border);

   padding-bottom: 8px
}


.modal__movie-bord {
  display: inline-block;
  text-align: center;
  width: 36px;
  border-radius: 5px;

  background-color: var(--active-btn-color);
  color: var(--secondary-text-color);
}

.modal__movie-number {
  display: inline-block;
  text-align: center;
  width: 36px;
  border-radius: 5px;

  //padding: 4px 2px;

  text-transform: uppercase;

  color: var(--primary-text-color);
  background-color: var( --pagination-btn-control);
}

.modal__movie-info  tr {
  display: flex;

}
//.modal__movie-info  td {
//  display: block;
//  margin-left: 41px;
//
//  @media screen and (min-width: 1200px) {
//    margin-left: 85px;
//  }
//}