.backdrop { 
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;

}

.modal { 
  position: relative;
  margin: 20px auto;
  width: 280px;
  max-height: 940px;
  background-color: white;
  color: black;
}

.modal__movie-content {
  padding: 48px 20px;
}
.modal__button-close{
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal__movie-backdrop{
  border-radius: 5px;

  // margin-bottom: 20px;
}
.modal__movie-overview {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}

.modal__movie-backdrop{
  width: 240px;
  height: 357px; 

  margin-bottom: 20px;
}

.modal__movie-info {
  width: 215px;

  margin-bottom: 20px;
}

.modal__movie-title {
font-family: 'Roboto';

font-weight: bold;
font-size: 20px;
line-height: 1.15;
color: #000000;
text-align: left;

margin-bottom: 20px;
}

.modal__movie-info tr th {
  text-align: left;
  width: 50%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8C8C8C;
}

.modal__movie-info tr td {
  text-align: left;
  width: 50%;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}

.modal__movie-text {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;

  margin-bottom: 8px;
}

.modal__movie-overview {
  font-family: 'Roboto';

  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;

  margin-bottom: 20px;
}

.modal__movie-btn {
  display: flex;	
  justify-content: space-between;
}

.btn-watched,
.btn-queue {
 
  width: 110px;
  height: 44px;

  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #000000;

  color: #000000;
  background: #FFFFFF;
}

.btn-watched:hover,
.btn-queue:hover {
  background: #FF6B01;
  color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0);
}
