.content-card {


  &__btn-group {
    display: flex;
    column-gap: 16px;
    margin-top: 20px;
  }

  &__btn {
    border-radius: 5px;
    border: 1px solid #000;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    width: 110px;
    height: 40px;

    &:hover,
    &:focus {
      background-color: #ff6b01;
      color: #fff;
      border: none;
    }

    @include tablet {
      width: 125px;
    }
    @media screen and (min-width: 1024px) {
      width: 135px;
      height: 45px;
    }
  }
}