.footer {
  background-color: var(--bg-footer);
  padding: 30px 0px;
}

.footer__list{
display: flex;
flex-direction: column;
align-items: center;

// @media screen and (max-width: 767px) {
//   flex-direction: row;
//         flex-wrap: wrap;
//         align-items: baseline;  
//         justify-content: space-around;
//   }
}

@media screen and (max-width: 767px) {

  .footer__list{
         flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;  
        justify-content: space-around;
  }
}

.footer__list__item{
  // margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  align-items: center;
  color: var(--footer-text-color);
}

.footer__list__item:last-child{
  // margin-bottom: 0;
}

.footer__heart{
  margin: 0px 10px;
  color: #FF6B08;
  transition: color var(--transition-time) var(--trans-prop);
}

.footer__btn-team {
  padding: 10px 20px;
  color: var(--footer-text-color);
  cursor: pointer;
  transition: color var(--transition-time) var(--trans-prop);

    &:hover, &:focus {
      color: goldenrod;

      .footer__heart{
        color: red;
      }
    }
}
