.header {
  height: 230px;
  padding-top: 34px;

  background-image: linear-gradient(var(--heder-gradient)),
    url('./../images/header/mob_abstract-background-with-red-lines@1x.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include retina {
    background-image: linear-gradient(var(--heder-gradient)),
      url('./../images/header/mob_abstract-background-with-red-lines@2x.jpg');
  }

  &__library {
    height: 230px;

    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56) 0%,
        rgba(0, 0, 0, 0.56) 100%
      ),
      url('../images/library/mobile-lib@1x.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56) 0%,
          rgba(0, 0, 0, 0.56) 100%
        ),
        url('../images/library/mobile-lib@2x.jpg');
    }
  }

  .user-lib-btns {
    @include flex();
    justify-content: space-between;
    margin-top: 60px;
  }

  @include tablet() {
    height: 216px;
    padding-top: 41px;

    background-image: linear-gradient(var(--heder-gradient)),
      url('./../images/header/tab_abstract-background-with-red-lines@1x.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include retina {
      background-image: linear-gradient(var(--heder-gradient)),
        url('./../images/header/tab_abstract-background-with-red-lines@2x.jpg');
    }

    &__library {
      height: 216px;

      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56) 0%,
          rgba(0, 0, 0, 0.56) 100%
        ),
        url('../images/library/tablet-lib@1x.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;

      @include retina {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56) 0%,
            rgba(0, 0, 0, 0.56) 100%
          ),
          url('../images/library/tablet-lib@2x.jpg');
      }
    }

    .user-lib-btns {
      @include flex();
      justify-content: center;
      margin-top: 40px;
    }

    .watched {
      margin-right: 20px;
    }
  }

  @include desktop() {
    height: 216px;
    padding-top: 41px;

    background-image: linear-gradient(var(--heder-gradient)),
      url('./../images/header/desk_abstract-background-with-red-lines@1x.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include retina {
      background-image: linear-gradient(var(--heder-gradient)),
        url('./../images/header/desk_abstract-background-with-red-lines@2x.jpg');
    }

    &__library {
      height: 216px;

      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56) 0%,
          rgba(0, 0, 0, 0.56) 100%
        ),
        url('../images/library/desktop-lib@1x.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;

      @include retina {
        background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.56) 0%,
            rgba(0, 0, 0, 0.56) 100%
          ),
          url('../images/library/desktop-lib@2x.jpg');
      }
    }
    .user-lib-btns {
      @include flex();
      justify-content: center;
      margin-top: 40px;
    }

    .watched {
      margin-right: 16px;
    }
  }
}

.header__menu {
  @include flex($justify: space-between);
  gap: 16px;

  // @include tablet() {
  //   gap: 0px;
  // }
}

// .header__navigation {
// }

.navigation {
  // background-color: #fff;
  @include flex($justify: space-between);
  width: 100%;
  flex: 1 1 80%;
}

// .navigation__logo {
//

.logo {
  @include flex($justify: space-between);
  color: var(--secondary-text-color);
}

// .logo__icon {
// }

.logo__text {
  display: none;

  @include tablet() {
    display: inline-block;
    @include font(30, 35.16, 500, 0);
    margin-left: 10px;
  }
}

.navigation__list {
  @include flex($justify: space-between);
  @include font(12, 14, 500, 0);
  margin-left: 82px;

  @include tablet() {
    flex: 0 0 auto;

    margin-left: auto;
  }
}

.navigation__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 18px;
  }
}

.navigation__link {
  color: var(--secondary-text-color);
  text-transform: uppercase;

  @include projTransitions(color);

  &:hover,
  &:focus {
    color: var(--active-btn-color);
  }

  &--active {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      top: 100%;
      left: 0;
      background-color: var(--activeColor);
    }
  }
}

// .navigation__link--active {
// }
.login {
  // display: none;
  @include flex($justify: right);
  flex-direction: row-reverse;

  @include tablet() {
    flex: 1 0 20%;
  }
  @include desktop() {
    flex: 1 0 10%;
  }

  &--is-logined > .login__button {
    color: var(--activeUser);
  }
  &--is-logined > .login__user-name {
    @include tablet() {
      opacity: 1;
    }
  }
}

.login__button {
  @include flex();

  color: var(--inactiveUser);

  border: none;
  outline: 2px solid var(--secondary-text-color);
  border-radius: 50%;
  overflow: hidden;

  @include projTransitions(color);

  &:hover,
  &:focus {
    color: var(--active-btn-color);
  }
}

.login__user-name {
  display: none;

  @include tablet() {
    display: inline-block;
    opacity: 0;

    @include font(12, 14, 500, 0);

    margin-right: 10px;

    color: var(--secondary-text-color);
  }

  @include projTransitions(opacity);
}
.is-logined {
}

// .login__icon {
// }

// .header__form {
// }

.form {
  position: relative;
  width: 100%;
  margin-top: 60px;

  @include tablet() {
    width: 336px;

    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  @include desktop() {
    width: 394px;
  }
}

// .form__input {

// }

.input {
  width: 100%;
  padding-right: 16px;

  border: none;
  outline: none;
  border-bottom: var(--heder-btn-border);

  color: var(--secondary-text-color);

  background-color: transparent;
}

.form__button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  @include flex();
  border: none;
  outline: none;
  padding: 10px 0 10px 10px;
  color: var(--secondary-text-color);
  background-color: transparent;

  cursor: pointer;

  @include projTransitions(color);

  &:hover,
  &:focus {
    color: var(--active-btn-color);
  }
}

.header__error-message {
  margin-top: 16px;

  @include font(14, 16.41, 400, 0);

  color: var(--activeColor);

  @include projTransitions(color);

  @include tablet() {
    margin-top: 20px;
    text-align: center;
  }
}
