@include mobile {
.library-background {
        height: 230px;

        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.56) 0%,
                rgba(0, 0, 0, 0.56) 100%),
            url('../images/library/mobile-lib@1x.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include retina {
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.56) 0%,
                    rgba(0, 0, 0, 0.56) 100%),
                url('../images/library/mobile-lib@2x.jpg');
        }
    }
.user-lib-btns {
    @include flex();
    justify-content: space-between;
    margin-top: 60px;
}
}

@include tablet {
    .library-background {
            height: 216px;
    
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.56) 0%,
                    rgba(0, 0, 0, 0.56) 100%),
                url('../images/library/tablet-lib@1x.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
    
            @include retina {
                background-image: linear-gradient(to right,
                        rgba(0, 0, 0, 0.56) 0%,
                        rgba(0, 0, 0, 0.56) 100%),
                    url('../images/library/tablet-lib@2x.jpg');
            }
        }
    .user-lib-btns {
        @include flex();
        justify-content: center;
        margin-top: 40px;
    }
    .watched{
        margin-right: 20px;
    }
}

@include desktop {
    .library-background {
            height: 216px;
    
            background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.56) 0%,
                    rgba(0, 0, 0, 0.56) 100%),
                url('../images/library/desktop-lib@1x.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
    
            @include retina {
                background-image: linear-gradient(to right,
                        rgba(0, 0, 0, 0.56) 0%,
                        rgba(0, 0, 0, 0.56) 100%),
                    url('../images/library/desktop-lib@2x.jpg');
            }
        }
    .user-lib-btns {
        @include flex();
        justify-content: center;
        margin-top: 40px;
    }
    .watched{
        margin-right: 16px;
    }
}

